S3method(close,gnuplot)
export("+.gnuplot")
export(clx)
export(ddmergev)
export(dist)
export(getNormCop)
export(gnuplot)
export(gp_mesh)
export(gp_pipe)
export(linear.map)
export(loop.ticker)
export(mclx)
export(multiplot)
export(nonlinear.map)
export(recover_once)
export(renameany)
export(rouwenhorst)
export(showMemoryUse)
export(sim.markov.paths)
export(spread)
export(stationary.dist)
export(ticker)
export(var.sd)
export(wt.summary)
export(kron.prod)
import(data.table)
import(digest)
