export(ddmergev)
export(dist)
export(getNormCop)
export(loop.ticker)
export(multiplot)
export(recover_once)
export(renameany)
export(showMemoryUse)
export(spread)
export(ticker)
export(var.sd)
import(data.table)
import(digest)
